@import "./reset";
body{
    font-family: 'Roboto', sans-serif;
    color: #4F4F4F;
    height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    
    .title{
        margin-top: 0.3vw;
        width: 97vw;
        padding: 0px 15px 0px 15px;
        background-color: #9BBA6E;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        height: 100px;
        p{
            margin-top: 30px;
            font-size: 32px;
            color: azure;
            text-decoration: none;
        }
    }
}
section{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    p{
        margin-left: 39%;
    }
    .title{
        margin-top: 5px;
        padding: 5px 0px 0px 15px;;
        margin-left: 26%;
        width: 45vw;
        height: 10vh;
        background-color: #9BBA6E;
        border-radius: 15px;
        font-size: 32px;
        input{
            height: 30px;
            width: 800px;
            border-radius: 5px;
        }
        p{
            margin-left: 0px;
        }
    }
    .text{
        margin-top: 10px;
        padding-left: 10px;
        margin-left: 4%;
        width: 91vw;
        height: 640px;
        background-color: #9BBA6E;
        border-radius: 15px;
        font-size: 32px;
        textarea{
            margin-top: 3px;
            height: 590px;
            width: 90vw;
            border-radius: 5px;
            resize: none;
        }
        p{
            margin-left: 0px;
        }
    }
}
footer{
    bottom: 3px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    button{
        width: 20vw;
        height: 5vh;
        background-color: #504384;
        border-radius: 5px;
        color: azure;
        font-size: 32px;
    }
    button:last-child{
        background-color: rgb(180, 0, 0);
    }
}
