@import url("https://fonts.googleapis.com/css2?family=Foldit:wght@200;400&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@400;700&family=Orbitron&family=Rajdhani&family=Roboto:wght@100;400;500;700&family=Tektur&family=VT323&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
  cursor: pointer;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  font-family: Manrope;
  font-style: normal;
  line-height: normal;
  padding: 0px 200px;
}
body header {
  background-image: url(./img/BGIMG1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 49px;
}
body header section {
  display: flex;
  justify-content: space-between;
}
body header section img {
  margin-left: 132px;
}
body header section nav {
  margin-top: 40px;
  background-color: rgba(224, 103, 195, 0.1);
  display: flex;
  align-items: center;
  height: 52px;
  border-radius: 5px;
}
body header section nav a {
  margin-left: 69px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
body header section nav a:last-child {
  margin-right: 69px;
}
body header section nav a:hover {
  color: rgb(224, 103, 195);
}
body header .info {
  margin-top: 100px;
  display: flex;
}
body header .info .slayder {
  margin-top: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body header .info .slayder img {
  cursor: pointer;
  width: 7px;
}
body header .info .content {
  margin-left: 42px;
}
body header .info .content h1 {
  margin-top: 42px;
  font-size: 34px;
  font-weight: 700;
}
body header .info .content div {
  height: 75px;
  margin-top: 48px;
  align-items: center;
  display: flex;
}
body header .info .content div img {
  margin-left: 0px;
}
body header .info .content div h4 {
  margin-left: 24px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
body header .info .content div h4 span {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 400;
  text-decoration: line-through;
}
body header .info .content div h4 span:last-child {
  color: #e067c3;
  text-decoration: none;
}
body header .info .content div h3 {
  margin-left: 24px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
body header .info .content div h3 span {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
body header .info .content button {
  margin-top: 76px;
  margin-bottom: 150px;
  width: 365px;
  height: 71px;
  background: #e067c3;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  border-radius: 15px;
  border: 2px solid #e067c3;
}
body header .info .content button:hover {
  background: #fff;
  color: #e067c3;
}
body header .contact {
  text-align: right;
  color: #000;
}
body header .contact h3 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 6px;
}
body header .contact div {
  margin-top: 26px;
  display: flex;
  justify-content: right;
}
body header .contact div h1 {
  margin-left: 9px;
  font-size: 16px;
  font-weight: 600;
}
body header .contact h2 {
  margin-top: 35px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 400;
}
body header .contact p {
  margin-top: 7px;
  color: #e067c3;
  font-size: 20px;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */